{% extends "layout/base.html" %}

{% block body %}
<!-- thread header -->
<div class="container-fluid">
    <div class="card border-secondary mt-5 mb-5">
        <div class="card-header text-light bg-primary">
            <h3>{{ book.title }} <small>by</small> {{ book.author }}</h3>
        </div>
        <div class="card-body">
            <p>{{ book.description }}</p>
        </div>
        <div class="card-footer">
            <button id="create-comment-button" class="btn btn-light btn-sm">
                <i class="fa fa-comment"></i>
                <span>Comment</span>
            </button>
        </div>
    </div>
</div>

<!-- comment section -->
{% include "books/comment_section.html" %}

{% endblock %}
